@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }

  .glow::before {
    background: radial-gradient(
    100px circle at var(--mouse-x) var(--mouse-y), rgb(255, 255, 255),
      transparent 40%
    );
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    left: 0px;
    top: 0px;
    z-index: 3;
  }

  
} 

